@import url(./font.css);

* {
  margin: 0px;
  padding: 0px;
}
body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #bb7456;
  /* background: url(../images/back.png) no-repeat; */
  box-sizing: border-box;
  /* overflow: hidden; */
  color: #f4e4da;
}

:root {
  --animate-duration: 1s;
}
